# Title

In [ ]:
import pandas as pd 
from pathlib import Path 
#todo import pycaret

In [ ]:
path = Path('../data')

In [ ]:
df = pd.read_csv(path/'pcs_data.csv')

In [ ]:
df.head()

   Concentration(%wt)  Flow rate(kg/h)     Re labels
0                 6.4              330   4027     np
1                 6.0              400   4885     np
2                 6.5              400   4880     np
3                 7.0             1700  20720     np
4                 7.0             1200  14630     np

In [ ]:
df.describe()

       Concentration(%wt)  Flow rate(kg/h)            Re
count           15.000000        15.000000     15.000000
mean             6.813333       855.333333  10446.600000
std              3.119264       500.355112   6146.713765
min              1.000000       330.000000   4027.000000
25%              6.200000       400.000000   4879.000000
50%              6.900000       700.000000   8531.000000
75%              7.100000      1350.000000  16505.000000
max             14.000000      1700.000000  20720.000000

In [ ]:
df.labels.value_counts()

np     8
tsp    7
Name: labels, dtype: int64

### 5 fold cross-validation